@model SitemapRequestPostModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Test the response time of your website.</p>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.Url, new { @placeholder = "Enter URL..." })
        <input type="submit" value="Test" />
    }
</div>

<div class="text-center">
    <p>Check request history for a specified URL.</p>
    @using (Html.BeginForm("History", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.Url, new { @placeholder = "Enter URL..." })
        <input type="submit" value="Check" />
    }
</div>
