@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Test the response time of your website.</p>
    @using (Html.BeginForm())
    {
        <input placeholder="Enter URL..." name="Url" />
        <input type="submit" value="Test" />
    }
</div>
